<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pigeon Design Visualizer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='index.css') }}" >
</head>
<body id="body">

    <h1 id = "Title">Pigeon Visualizer</h1>

    <div class="page_content">
        <form id="p_form" method="get">
            <p class="form_label">Enter Pigeon Script Here:</p>
            <textarea id="p_script" rows="30" cols="50"></textarea>
            <input type="submit">
        </form>

        <div id="image">
            <p1 class="design_label"> See Pigeon Design Here: </p1>
        </div>
    </div>

    <script>
        $("#p_form").submit(function(e) {
            e.preventDefault();
            var script = $('#p_script').val();
            $.get("/parse", {"script" : script} )
                .done(function(data) {
                    alert("Data: " + data)
                    $('#image').html(data);
            });
         });


    </script>

</body>
</html>