<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pigeon Design Visualizer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="body">

    <h1>Pigeon Visualizer</h1>
    <p>Enter Pigeon Script Here:</p>

    <form id="p_form" method="get">
        <textarea id="p_script" rows="30" cols="30"></textarea>
        <input type="submit">
    </form>


{#    <img src="{{ url_for('/parse') }}" alt="Image Placeholder">#}


    <script>
        $("#p_form").submit(function(e) {
            e.preventDefault();
            alert("Form Submitted");
            var script = $('#p_script').val();
            alert(script);
            $.get("/parse", {"script" : script} )
                .done(function(data) {
                    alert("Data: " + data);
                    create_image(data);
            });
         });


        function create_image(data) {
            var img = document.createElement('img');
            img.src = data;
            document.getElementById('body').appendChild(img);
            img.innerHTML = "Image Element Added.";
         }

    </script>

</body>
</html>